<!DOCTYPE html>
<html>
    <title>MyPetShop.com</title>
    <style>
        .div{ border: 5px outset silver;
            background-color: rgb(212, 201, 154);
            text-align:left;}
    </style>

    <div class = "div">
        <a href = "main.page.html">
            <img src = "logo.png"; height = "50px">
        </a>
        <a href = "dog.html">Dog|</a>
        <a href = "cat.html">Cat|</a>
        <a href = "fish.html">Fish|</a>
        <a href = "rodent.html">Rodent</a>
        <a>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</a>
        <a href = "logIn.html">Log In|</a>
        <a href = "signUp.html">Sign Up</a>
        
    </div>

    <style>
        .div1{
            border: 5px outset rgb(158, 31, 218);
            background-color: rgb(201, 186, 129);
            text-align:left;
        }
    </style>

        <div class = "div1">
            <h1>Top Sales</h1>
                <h2>Pets Food</h2>
                <img src = "food1.png"; height = "190px"; width = "150px">
                                
                <img src = "food2.png"; height = "190px"; width = "150px">
                
                <img src = "food3.png"; height = "190px"; width = "150px">

                <img src = "food4.png"; height = "190px"; width = "150px">

                <img src = "food5.png"; height = "190px"; width = "150px">
                <img src = "food22.jfif"; height="190px"; width="150px"> 

                <img src = "food23.jfif"; height="190px"; width="150px">

                

                
                
        </div>



    <style>
        .div2{ border: 5px outset rgb(43, 41, 165);
            background-color: rgb(212, 201, 154);
            text-align:left;}
    </style>

    <div class = "div2">
        <h2>Pets stuff</h2>

                <img src = "food6.png"; height = "190px"; width = "150px">
                
                <img src = "food7.png"; height = "190px"; width = "150px">


                <img src = "food9.png"; height = "190px"; width = "150px">

                <img src = "food15.jfif"; height="190px"; width="150px">

                <img src = "food16.jfif"; height="190px"; width="150px">

                <img src = "food17.jfif"; height="190px"; width="150px">

                <img src = "food18.jfif"; height="190px"; width="150px">

                <img src = "food19.jfif"; height="190px"; width="150px">

                <img src = "food20.jfif"; height="190px"; width="150px">

                <img src = "food21.jfif"; height="190px"; width="150px">


                <img src = "food24.jfif"; height="190px"; width="150px">

                <img src = "food25.jfif"; height="190px"; width="150px">

                <img src = "food26.jfif"; height="190px"; width="150px">

                <img src = "food27.jfif"; height="190px"; width="150px">

                <img src = "food28.jfif"; height="190px"; width="150px">
    </div>

    <style>
        .div3{ border: 5px outset rgb(172, 66, 66);
            background-color: rgb(212, 201, 154);
            text-align:left;}
    </style>

    <div class = "div3">
            <h2>Pets Care</h2>
                <img src = "food8.png"; height = "190px"; width = "150px">
                <img src = "shampoo1.jfif"; height = "190px"; width = "150px">
                <img src = "shampoo2.jfif"; height = "190px"; width = "150px">
                <img src = "shampoo3.jfif"; height = "190px"; width = "150px">
                <img src = "care1.jfif"; height = "190px"; width = "150px">
                <img src = "care2.jfif"; height = "190px"; width = "150px">
                <img src = "care3.png"; height = "190px"; width = "150px">
                <img src = "care4.jfif"; height = "190px"; width = "150px">
                
                
    </div>
</html>